@use "../common/colors";
@use "../common/mediaqueries";

/* FOOTER */

.footer {
    clear: both;
    background: colors.$white;
    height: 28px;
    position: fixed;
    bottom: 0;
    width: 100%;
    .footertext {
        margin: 0 auto;
        width: 960px;
        text-align: center;
        padding: 7px 0;
        @media #{mediaqueries.$desktop} {
            font-size: small;
            width: 960px;
        }
        @media #{mediaqueries.$moblet} {
            font-size: small;
            width: 100%;
        }
        @media #{mediaqueries.$mobile} {
            width: 100%;
            font-size: 9px !important;
        }
    }
}