@use "../common/colors";
@use "../common/mediaqueries";

form {
  margin: 14px 0;

  &.coffeeform {
      #email {
          width:98%;
      }
  }
}

form .left,
form .leftform {
  @media #{mediaqueries.$desktop} {
    width: 48%;
  }
  @media #{mediaqueries.$moblet} {
    width: 40%;
  }
  @media #{mediaqueries.$mobile} {
    width: 40% !important;
  }
  @media #{mediaqueries.$mobile-small} {
    width: 40% !important;
  }

  &:nth-child(odd) {
    margin-right: 2%;
  }
}

.fullWidth form .leftform {
  width: 30%;

  &:nth-child(odd) {
    margin-right:0;
  }

  &:nth-child(2) {
    margin:0 2%;
  }
}

.leftform {
  display:inline-block;

  input {
    width: 100%;
  }
}

form.otrblockform {
  input[type=submit] {
    width:50%;
    padding: 30px;
    font-size: 2em;
  }
}

.inlineform {
  select {
    padding: 10px;
    font-size: 1.35em;
    border: none;
    background-color: colors.$input-background;
    color: colors.$input-color;
    min-height: 22px;
    line-height: 22px;
  }
}