/* GENERAL */

body {
  padding: 0;
  margin: 0;
  background: url("/static/images/bg-landingpage.jpg") no-repeat center center fixed;
  background-color: $body-background-color;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $text-color;
  font-family: 'Source Sans Pro', Helvetica, Verdana, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding-top: 55px;
}

a {
  color: $link-color !important;
}

a.btn, input {
  margin: 2px 0;
  font-family: 'source_sans_proregular', Helvetica, Verdana, Arial, sans-serif;
}

a {
  text-decoration: none;
  font-family: 'source_sans_probold';
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
  img {
    border: none;
  }
}

input[type=submit],
button,
a.btn {
  background: $button-background;
  padding: 5px 10px;
  font-size: 1.35em;
  color: $button-color !important;
  min-height: 25px;
  border: 1px solid $button-border;
  box-shadow: 0 1px 0 $button-shadow inset;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration:none !important;
  font-family: 'source_sans_proregular' !important;

  &:hover {
    background: $button-hover-background;
  }

  &.secondary {
    color: $button-secondary-color !important;
    text-shadow: 1px 1px 0 $button-secondary-text-shadow;
    background: $button-secondary-background;
    box-shadow: 0 1px 0 $button-secondary-shadow inset;
    border: 1px solid $button-secondary-border;

    &:hover {
      background: $button-hover-background !important;
      box-shadow: 0 1px 0 $button-shadow inset;
      text-shadow: 1px 1px 0 $button-text-shadow !important;
      color: $button-color !important;
    }
  }
}

input[type=text],
input[type=email],
input[type=password] {
  //padding: 10px;
  /*font-size: 1.35em;
  background-color: $input-background;
  color: $input-color;*/
  $height: 3em;
  @include adaptive-placeholder($height, 0);
}

strong {
  font-weight: bold;
}

#system-flash .flash-messages {
    background: transparent;
    position: absolute;
    top: 0px;
    width: 60%;
}

.usercard,
.rankbox {
  width: 45%;
  margin-right: 5%;
  margin-bottom: 10px;
  margin-top: 10px;
  float: left;
  display:inline-block;

  div.left {
    display:inline-block;

    input {
      display:inline-block;
      width:94%;
    }
  }
}