{% extends "base.html" %}
{% load staticfiles i18n %}
{% if form.non_field_errors %}
    {% block extra_system_flash %}
        {% for message in form.non_field_errors %}
            <li class="flash-error">{{ message }} <a href="#"
                                                     class="close">X</a></li>
        {% endfor %}
    {% endblock %}
{% endif %}
{% block loginnav %}{% endblock %}
{% block content %}
    <div class="white-box fullWidth">
        <h2>{% trans "Login" %}</h2>
        <form action="{% url "auth_login" %}" method="post" id="loginfull">
            {% csrf_token %}
            {{ form.username.errors }}
            {{ form.password.errors }}
            <input type="text" required pattern="[a-z][a-z0-9_-]{1,29}"
                   name="username" id="id_login_username"
                   {% if form.username.value %}value="{{ form.username.value }}" {% endif %}>
            <label for="id_login_username" alt="{% trans "Username" %}"
                   placeholder="{% trans "Username" %}"></label>
            <input type="password" required name="password"
                   id="id_login_password"/>
            <label for="id_login_password" alt="{% trans "Password" %}"
                   placeholder="{% trans "Password" %}"></label>
            {% url "auth_password_reset" as passwordreset_url %}
            {% blocktrans %}
                <a href="{{ passwordreset_url }}" class="right">Forgot your
                    password?</a>{% endblocktrans %}
            <input type="submit" name="submit" value="{% trans "Login" %}"/>
            <input type="hidden" name="next" value="{% spaceless %}
                {% url 'home' as home_url %}
                {% if request.GET.next == home_url or not request.GET.next %}
                    {% url 'profile' %}
                {% else %}
                    {{ request.GET.next }}
                {% endif %}
            {% endspaceless %}"/>
        </form>
        <h3>{% trans "You have no account yet?" %}</h3>
        <p><a href="{% url "registration_register" %}"
              class="btn">{% trans "Register" %}</a></p>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript"
            src="{% url "jsi18n_catalog" packages='caffeine' %}"></script>
    <script type="text/javascript"
            src="{% static "caffeine/js/validation.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input#id_login_username').bind('invalid', usernamefieldvalidation);
            $('input#id_login_password input#id_login_password').bind('invalid', function (event) {
                if (this.validity.valueMissing) {
                    this.setCustomValidity('{% trans "Password must not be empty!" %}');
                } else {
                    this.setCustomValidity('');
                }
            });

            $('input#id_login_username').focus();

            $('form').submit(function (event) {
                return sanitize_username('input#id_login_username')
                        && sanitize_not_empty('input#id_login_password', '{% trans "Password must not be empty!" %}');
            });
        });
    </script>
{% endblock %}
