{% extends "base.html" %}
{% load i18n staticfiles %}
{% if form.non_field_errors or not validlink %}
{% block extra_system_flash %}
{% for message in form.non_field_errors %}
<li class="flash-error">{{ message }} <a href="#" class="close">X</a></li>
{% endfor %}
{% if not validlink %}
<li class="flash-error">{% trans "This password reset link is not valid!" %}</li>
{% endif %}
{% endblock %}
{% endif %}
{% block content %}
{% if validlink %}
<div class="white-box fullWidth">
  <h2>{% trans "Change Your Password" %}</h2>
  <form action="{{ request.path }}" method="post">
    {{ form.new_password1.errors }}
    <input type="password" required pattern=".{8,}" name="new_password1" id="id_new_password1" autofocus class="left" />
    <label alt="Password" placeholder="Password"></label>
    {{ form.new_password2.errors }}
    <input type="password" required pattern=".{8,}" placeholder="Repeat password" name="new_password2" id="id_new_password2" class="left" />
    <label alt="Repeat password" placeholder="Repeat password"></label>
    <input type="submit" value="Reset my password" class="left" />
    {% csrf_token %}
  </form>
</div>
{% endif %}
{% endblock content %}
{% if validlink %}
{% block extra_js %}
<script type="text/javascript" src="{% url "jsi18n_catalog" packages='caffeine' %}"></script>
<script type="text/javascript" src="{% static "caffeine/js/validation.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('input#id_new_password1').bind('invalid', pwfieldvalidation);
    $('input#id_new_password2').bind('invalid', pwfieldvalidation);

    if (!("autofocus" in document.createElement('input'))) {
        $("input#id_new_password1").focus();
    }

    $('form').submit(function(event) {
        return sanitize_password('input#id_new_password1', 'input#id_new_password2');
    });
});
</script>
{% endblock extra_js %}
{% endif %}
