{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="white-box fullWidth">
  <h2>{% trans "Change Your Password" %}</h2>
  <form action="{% url "auth_password_change" %}" method="post">
    <input type="password" required pattern=".{8,}" placeholder="Password" name="new_password1" id="id_new_password1" autofocus class="left" />
    <input type="password" required pattern=".{8,}" placeholder="Repeat password" name="new_password2" id="id_new_password2" class="left" />
    <input type="submit" name="Reset my password" class="left" />
    {% csrf_token %}
  </form>
</div>
{% endblock content %}
{% block extra_js %}
<script type="text/javascript" src="{% url "jsi18n_catalog" packages='caffeine' %}"></script>
<script type="text/javascript" src="{% static "caffeine/js/validation.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('input#id_new_password1').bind('invalid', pwfieldvalidation);
    $('input#id_new_password2').bind('invalid', pwfieldvalidation);

    if (!("autofocus" in document.createElement('input'))) {
        $("input#id_new_password1").focus();
    }

    $('form').submit(function(event) {
        return sanitize_password('input#id_new_password1', 'input#id_new_password2');
    });
});
</script>
{% endblock extra_js %}
