{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{{ title }} | {% trans 'Coffeestats Django site admin' %}{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "css/admin.css" %}" type="text/css"/>{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Coffeestats Django administration' %}</h1>
{% endblock %}

{% block nav-global %}
{% if user.is_staff %}
<ul class="nav-global plainlist">
  <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
  <li><a href="{% url "admin:index" %}">{% trans "Admin index" %}</a></li>
</ul>
{% endif %}
{% endblock %}
