{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="white-box">
  <h2>{% trans "About coffeestats.org" %}</h2>
  <p>{% blocktrans %}Coffeestats.org was written with the help of two Mac OS X systems, a Debian GNU/Linux system and is proudly running on <a href="http://openbsd.org/">OpenBSD</a>. We want to thank the awesome Free Software community for all their software and art available under the <a href="http://creativecommons.org">CreativeCommons</a> license:{% endblocktrans %}</p>
  <ul>
    <li>{% blocktrans %}<a href="http://chartjs.org/">Chart.js</a> by Nick Downie{% endblocktrans %}</li>
    <li>{% blocktrans %}<a href="https://github.com/adobe/source-sans-pro">Source Sans Pro</a> by Adobe{% endblocktrans %}</li>
    <li>{% blocktrans %}<a href="http://www.fontsquirrel.com/fonts/amaranth">Amaranth</a> by Gesine Todt{% endblocktrans %}</li>
    <li>{% blocktrans %}Iconset by <a href="http://www.flaticon.com/">flaticon.com</a> {% endblocktrans %}</li>
    <li>{% blocktrans %}<a href="http://vervex.deviantart.com/art/Somacro-32-300DPI-Social-Media-Icons-267955425">Somacro Social Media Icons</a> by <a href="http://veodesign.com">Vervex</a>{% endblocktrans %}</li>
    <li>{% blocktrans %}<a href="http://picjumbo.com/girl-with-watches-typing-on-macbook/">Backgroundimage Landingpage</a> by <a href="https://twitter.com/viktorhanacek">Viktor Hanacek</a>{% endblocktrans %}</li>
    <li>{% blocktrans %}<a href="http://picjumbo.com/cafe-workspace-with-diary/">Backgroundimage Profilepage</a> by <a href="http://inspirationfeed.com">inspirationfeed.com</a>{% endblocktrans %}</li>
  </ul>
  <p>{% blocktrans %}Follow us on <a href="https://twitter.com/coffeestats">Twitter</a> or <a href="http://www.facebook.com/pages/coffeestatsorg/135455386573798?sk=info">Facebook</a>! (We won't keep you from clicking "I like" either!){% endblocktrans %}</p>
</div>
<div class="white-box">
  <h2>{% trans "Changelog" %}</h2>
  <ul>
    <li>{% blocktrans %}2014-04-xx reimplementation in <a href="http://www.djangoproject.com/">Django</a>{% endblocktrans %}</li>
    <li>{% trans "2014-02-20 REST API for adding drinks by Clemens" %}</li>
    <li>{% trans "2013-05-23 New Design by Jeremias" %}</li>
    <li>{% trans "2013-05-07 Added nice social media icons to profile page" %}</li>
    <li>{% trans "2013-05-03 Public URL has changed (update your bookmarks!)" %}</li>
    <li>{% trans "2013-04-28 Performance and Security improvments" %}</li>
    <li>{% trans "2013-03-23 New Update page" %}</li>
    <li>{% trans "2013-03-23 Using Chart.js for Graphs!" %}</li>
    <li>{% trans "2013-03-23 Added Mate to drinks" %}</li>
    <li>{% trans "2013-02-15 Added more Ranking stuff onto the explore page" %}</li>
    <li>{% trans "2013-02-27 Some bugfixes for OTR" %}</li>
    <li>{% trans "2013-02-15 Max email length resized up to 50 chars" %}</li>
    <li>{% trans "2013-02-15 Made time for coffee +1 with js not servertime. Better feeling for users who not live in GMT+1" %}</li>
    <li>{% trans "2013-02-13 Added some awesome icons to navigation and cleaned up interface" %}</li>
    <li>{% blocktrans %}2012-02-11 Added SSL <a href="https://coffeestats.org/">https://coffeestats.org/</a>{% endblocktrans %}</li>
    <li>{% trans "2012-11-06 Migrated from Debian Squeeze to OpenBSD" %}</li>
    <li>{% trans "2012-02-11 Added on-the-run Mode" %}</li>
    <li>{% trans "2012-01-23 Added Overall Stats" %}</li>
  </ul>
</div>
<div class="white-box">
  <h2>{% trans "Credits" %}</h2>
  <p>{% trans "Some awesome guys have been involved in growing up coffeestats.org so far." %}</p>
  <ul>
    <li>{% blocktrans %}<a href="http://github.com/neverpanic">Clemens Lang</a> (implementing add-drink REST API){% endblocktrans %}</li>
    <li>{% blocktrans %}<a href="http://www.art-ifact.de/">Jeremias Arnstadt</a> (new design){% endblocktrans %}</li>
    <li>{% blocktrans %}<a href="http://dittberner.info">Jan Dittberner</a> (massive code improvements in many cases, port to Django){% endblocktrans %}</li>
    <li>{% blocktrans %}<a href="http://sotiriu.de">Nikolas Sotiriu</a> (testing the site for security flaws){% endblocktrans %}</li>
  </ul>
</div>
<div class="white-box">
  <h2>{% trans "Contribution" %}</h2>
  <p>{% blocktrans %}coffeestats.org is OpenSource. Feel free to <a href="https://github.com/coffeestats/coffeestats">contribute code</a>,
    <a href="https://github.com/coffeestats/coffeestats/issues?state=open">share your ideas or report bugs</a>!{% endblocktrans %}</p>
  <p>{% blocktrans %}Development / deployment documentation is at <a href="https://coffeestats.readthedocs.org">coffeestats.readthedocs.org</a>{% endblocktrans %}</p>
  <p>{% blocktrans %}Or show some love &lt;3{% endblocktrans %}</p>
  <p><div id='fb1dxpt'></div></p>
</div>
{% endblock content %}
{% block extra_js %}
<script type="text/javascript">
function flattr_iframe(elementid) {
  var f, s=document.getElementById(elementid);
  f=document.createElement('iframe');
  f.src='//api.flattr.com/button/view/?uid=noqqe&title=coffeestats.org&url=https%3A%2F%2Fcoffeestats.org';
  f.title='Flattr';
  f.height=62;
  f.width=55;
  f.style.borderWidth=0;
  s.parentNode.insertBefore(f, s);
}
$(document).ready(function() {
  flattr_iframe('fb1dxpt');
});
</script>
{% endblock extra_js %}
