{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="F. Baumann, H. Winter, J. Dittberner" />
    <meta name="description" content="{% trans "coffeestats.org | All about coffee" %}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}coffeestats.org{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static "images/favicon.png" %}" type="image/x-icon">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/caffeine.css" %}" />

    <!-- Use this to quickly test CSS changes in a template,
        then move to caffeine.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>
    <ul class="flash-messages" id="system-flash">{% spaceless %}
    {% if messages %}
      {% for message in messages %}
      {% if 'registerdrink' not in message.tags %}<li class="{{ message.tags }}">{{ message }} <a href="#" class="close">X</a></li>{% endif %}
      {% endfor %}
    {% endif %}
    {% block extra_system_flash %}{% endblock extra_system_flash %}
    {% endspaceless %}</ul>
    <div id="wrapper">
      <div id="header">
        {% if user.is_authenticated %}
        <div id="account" class="rightfloated">{% if user.is_staff %}<a href="{% url "admin:index" %}">{% trans "Admin site" %}</a> / {% endif %}<a href="{% url "settings" %}">{% trans "Settings" %}</a> / <a href="{% url "auth_logout" %}">{% trans "Logout" %}</a></div>
        {% endif %}
        <h1><a href="/">coffeestats.org</a></h1>
        <p>{% trans "... about what keeps you awake at night." %}</p>
      </div>
      <div id="content">
        {% if user.is_authenticated %}
        <div id="navigation">
          <ul>
            <li><a href="{% url "home" %}" class="navindex">{% trans "Home" %}</a></li>
            <li><a href="{% url "profile" %}" class="navprofile">{% trans "Profile" %}</a></li>
            <li><a href="{% url "explore" %}" class="navexplore">{% trans "Explore" %}</a></li>
            <li><a href="{% url "overall" %}" class="navoverall">{% trans "Overall Stats" %}</a></li>
            <li><a href="{% url "about" %}" class="navabout">{% trans "About" %}</a></li>
          </ul>
        </div>
        {% endif %}
        {% block content %}{% endblock %}

        <div class="footer">
          {% url "imprint" as imprinturl %}
          <p class="footertext">{% blocktrans %}<a href="/">coffeestats.org</a> is a project by <a href="http://jan.dittberner.info/">Jan Dittberner</a> &amp; <a href="http://noqqe.de/">Florian Baumann</a>.
          See <a href="{{ imprinturl }}">Imprint</a>.{% endblocktrans %}</p>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript">
$(document).ready(function() {
      $('.flash-info').delay(4000).fadeOut(1000, function() { this.remove(); });
      $('.flash-success').delay(4000).fadeOut(1000, function() { this.remove(); });
      $('li a.close').click(function(event) {
          $(this).parent().fadeOut(1000, function() { this.remove(); });
      });
})  ;
    </script>
    {% if piwik_siteid %}
<!-- Piwik -->
{% include "piwik_javascript.js" %}
<!-- End Piwik Code -->
    {% endif %}
    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
