{% extends "base.html" %}
{% load i18n static %}
{% block content %}
    <div class="white-box">
        <h2>{% trans "Graphs!" %}</h2>
        {% url 'overall' as overall %}
        {% blocktrans %}<a href="{{ overall }}">Overall</a> Coffee vs. Mate
            consumption.{% endblocktrans %}<br/><br/>
        <canvas id="coffeeexample" width="590" height="240"></canvas>
    </div>
    <div class="white-box">
        <h2>{% trans "What is coffeestats.org?" %}</h2>
        <p>{% trans "You like coffee, mate, graphs and nerdy statistics? Well, we do too!" %}</p>
        <p>{% blocktrans %}It's dead-simple: You enjoy your fix of coffee as
            usual and we keep track of it -- enabling us to present you with
            awesome statistics about your general coffee consumption. Why?
            Just because, of course!{% endblocktrans %}</p>
    </div>
    {% if user.is_authenticated %}
        {% url "profile" as profile_url %}
        {% url "explore" as explore_url %}
        <div class="white-box">
            <h2>{% trans "Whats up?" %}</h2>
            <p>{% trans "You like coffee, graphs and nerdy statistics? Well, we do too!" %}</p>
            <p>{% blocktrans %}If you had a coffee today, or are about to drink
                one, simply let us know <a href="{{ profile_url }}">here</a> and
                we'll keep track of it. You can also
                <a href="{{ explore_url }}">explore</a> a bit and check out the
                other user's statistics!{% endblocktrans %}</p></div>
        <div class="white-box">
            <h2>{% trans "You're not always on a Workstation?" %}</h2>
            <p>{% blocktrans %}Register a coffee on-the-run! Get your on-the-run
                url on your
                <a href="{{ profile_url }}">profile page</a>. Simply bookmark
                the url on your mobile device and you will never forget a coffee
                =){% endblocktrans %}</p></div>
    {% endif %}
    <script type="text/javascript"
            src="{% static "caffeine/js/validation.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "js/Chart.min.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input#id_login_username').bind('invalid', usernamefieldvalidation);
            $('input#id_login_password').bind('invalid', function (event) {
                if (this.validity.valueMissing) {
                    this.setCustomValidity('{% trans "Password must not be empty!" %}');
                } else {
                    this.setCustomValidity('');
                }
            });

            if (!("autofocus" in document.createElement('input'))) {
                $("input#username").focus();
            }

            let lineChartData = {
                labels: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat",],
                datasets: [
                    {
                        fillColor: "#FF9900",
                        strokeColor: "#FFB84D",
                        pointColor: "#FFB84D",
                        pointStrokeColor: "#fff",
                        data: [40, 26, 180, 72, 102, 60, 30, 14,]
                    },
                    {
                        fillColor: "#E64545",
                        strokeColor: "#FF9999",
                        pointColor: "#FF9999",
                        pointStrokeColor: "#fff",
                        data: [101, 3, 87, 32, 12, 80, 17, 14,]
                    }
                ]
            }

            new Chart(document.getElementById("coffeeexample").getContext("2d")).Line(lineChartData);

            $('#login-form').submit(function (event) {
                return sanitize_username('input#id_login_username')
                        && sanitize_not_empty('input#id_login_password', '{% trans "Password must not be empty!" %}');
            });
        });
    </script>
{% endblock %}
