{% load i18n %}
<script type="text/javascript">
  function pwfieldvalidation(event) {
    if (this.validity.valueMissing) {
      this.setCustomValidity('{% trans "Password must not be empty!" %}');
    } else if (this.validity.patternMismatch) {
      this.setCustomValidity('{% trans "Password must be at least 8 characters long!" %}');
    } else {
      this.setCustomValidity('');
    }
  }

  function sanitize_password(pwfieldspec, repfieldspec, allowempty) {
    allowempty = typeof allowempty !== 'undefined' ? allowempty : false;
    var pwfield = $(pwfieldspec);
    var repfield = $(repfieldspec);
    var pwval = $.trim(pwfield.val());
    var repval = $.trim(repfield.val());

    pwfield.val(pwval);
    repfield.val(repval);

    if (!allowempty && (pwval.length == 0)) {
      alert('{% trans "Password must not be empty!" %}');
      pwfield.focus();
      return false;
    }

    if ((pwval.length > 0) && (pwval.length < 8)) {
      alert('{% trans "Password must be at least 8 characters long!" %}');
      pwfield.focus();
      return false;
    }
    if (pwval != repval) {
      alert('{% trans "Passwords must match!" %}');
      repfield.focus();
      return false;
    }
    return true;
  }
</script>
