{% load i18n %}
<script type="text/javascript">
  function sanitize_string(fieldspec, mandatory, fieldname) {
    mandatory = typeof mandatory !== 'undefined' ? mandatory : true;
    fieldname = typeof fieldname !== 'undefined' ? fieldname : 'Field';
    var stfield = $(fieldspec);
    var stvalue = $.trim(stfield.val());
    if ((stvalue.length == 0) && mandatory) {
      alert(fieldname + '{% trans "must not be empty!" %}');
      stfield.focus();
      return false;
    }
    return true;
  }
</script>

