{% load i18n %}
<script type="text/javascript">
var usernamepat = /^[a-z][a-z0-9_-]{1,29}$/;

function usernamefieldvalidation(event) {
  if (this.validity.patternMismatch) {
    this.setCustomValidity('{% trans "Invalid username! A username has at least 3 characters, starting with a letter. It may consist of letters, digits, hypens and underscores." %}');
  } else if (this.validity.valueMissing) {
    this.setCustomValidity('{% trans "Username must not be empty!" %}');
  } else {
    this.setCustomValidity('');
  }
}

function sanitize_username(fieldspec) {
  var unfield = $(fieldspec);
  var unvalue = $.trim(unfield.val());
  if (unvalue.length == 0) {
    alert('Username must not be empty!');
    unfield.focus();
    return false;
  }
  if (usernamepat.test(unvalue)) {
    unfield.val(unvalue);
    return true;
  }
  alert('{% trans "Invalid username! A username has at least 3 characters, starting with a letter. It may consist of letters, digits, hypens and underscores." %}');
  unfield.focus();
  return false;
}
</script>
