{% extends "base.html" %}
{% load i18n staticfiles caffeine %}
{% block extra_css %}
{% endblock %}
{% block content %}
<div class="white-box">
  {% if ownprofile %}
  <div class="rightfloated">
    <canvas id="ontherunqrcode" width="100" height="100"></canvas>
  </div>
  {% endif %}
  <h2>{% if ownprofile %}{% trans "Your Profile" %}{% else %}{% blocktrans with username=profileuser.username %}{{ username }}'s Profile{% endblocktrans %}{% endif %}</h2>
  <ul class="profilelist">
    <li>{% blocktrans with first_name=profileuser.first_name last_name=profileuser.last_name %}Name: {{ first_name }} {{ last_name }}{% endblocktrans %}</li>
    <li>{% blocktrans with location=profileuser.location %}Location: {{ location }}{% endblocktrans %}</li>
    {% if ownprofile %}
    <li>{% blocktrans %}Your Coffees total: {{ coffees }}{% endblocktrans %}</li>
    <li>{% blocktrans %}Your Mate total: {{ mate }}{% endblocktrans %}</li>
    {% else %}
    <li>{% blocktrans %}Coffees total: {{ coffees }}{% endblocktrans %}</li>
    <li>{% blocktrans %}Mate total: {{ mate }}{% endblocktrans %}</li>
    {% endif %}
  </ul>
  <div class="pagelinks">
    <div class="left">
      {% if ownprofile %}
      <a class="btn secondary left" href="{% url "public" username=profileuser.username %}">{% trans "public profile" %}</a>
      <a class="btn secondary left" href="{% url "ontherun" username=profileuser.username token=profileuser.token %}">{% trans "on-the-run" %}</a>
      {% endif %}
    </div>
    <div class="right">
      {% if ownprofile %}
      <a title="{% trans "share your public profile page on facebook" %}" href="https://www.facebook.com/sharer.php?u={% filter urlencode %}{% publicurl %}{% endfilter %}&amp;t={% filter urlencode %}{% trans "My coffee statistics" %}{% endfilter %}"><img src="{% static "images/facebook40.png" %}" alt="{% trans "facebook share icon" %}" /></a>
      <a title="{% trans "share your public profile page on twitter" %}" href="https://twitter.com/intent/tweet?original_referer={% filter urlencode %}{% publicurl %}{% endfilter %}&amp;text={% filter urlencode %}{% trans "My coffee statistics" %}{% endfilter %}&amp;tw_p=tweetbutton&amp;url={% filter urlencode %}{% publicurl %}{% endfilter %}&amp;via=coffeestats"><img src="{% static "images/twitter40.png" %}" alt="{% trans "twitter share" %}" /></a>
      <a title="{% trans "share your public profile page on Google plus" %}" href="https://plus.google.com/share?url={% filter urlencode %}{% publicurl %}{% endfilter %}"><img src="{% static "images/googleplus40.png" %}" alt="{% trans "google plus share" %}" /></a>
      {% endif %}
    </div>
  </div>
</div>
{% if ownprofile %}
<div class="white-box update">
  <h2>{% trans "Coffee or Mate?" %}</h2>
  {% if messages|messagetags:'registerdrink' %}
  <ul class="flash-messages" id="registerdrink-flash">{% spaceless %}
    {% for message in messages|messagetags:'registerdrink' %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  {% endspaceless %}</ul>
  {% endif %}
  {% spaceless %}
  <form action="{% url "submit_caffeine" "coffee" %}" method="post" id="coffeeform">
    <input type="submit" value="{% trans "Coffee!" %}" class="left" />
    <div class="datepicker">
      <input type="text" id="id_coffeedate" name="date" placeholder="{% now "Y-m-d" %}" class="form-control" />
    </div>
    <div class="input-group clockpicker">
      <input type="text" id="id_coffeetime" name="time" placeholder="{% now "H:i" %}" class="form-control" />
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
      </span>
    </div>
    <input type="hidden" name="origin" value="{{ request.build_absolute_uri }}" />
    {% csrf_token %}
  </form>
  <form action="{% url "submit_caffeine" "mate" %}" method="post" id="mateform" class="clear">
    <input type="submit" value="{% trans "Mate!" %}" class="left" />
    <div class="datepicker">
      <input type="text" id="id_matedate" name="date" placeholder="{% now "Y-m-d" %}" class="form-control" />
    </div>
    <div class="input-group clockpicker">
      <input type="text" id="id_matetime" name="time" placeholder="{% now "H:i" %}" class="form-control" />
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
      </span>
    </div>
    <input type="hidden" name="origin" value="{{ request.build_absolute_uri }}" />
    {% csrf_token %}
  </form>
  {% endspaceless %}
</div>
{% if entries %}
<div class="white-box">
  <h2>{% trans "Your latest entries" %}</h2>
  <table>
    {% for entry in entries %}
    <tr>
      <td>{% blocktrans with entrytype=entry.format_type entrytime=entry.date|date:"Y-m-d H:i:s" entrytimezone=entry.timezone %}{{ entrytype }} at {{ entrytime }} {{ entrytimezone }}{% endblocktrans %}</td>
      <td><a href="{% url "delete_caffeine" entry.id %}" data-cid="{{ entry.id }}" class="deletecaffeine"> <img src="{% static "images/nope.png" %}" alt="{% trans "delete" %}" /></a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% endif %}
<div class="white-box today">
  <h2>{% trans "Caffeine today" %}</h2>
  <canvas id="coffeetoday" width="590" height="240"></canvas>
</div>
<div class="white-box">
  <h2>{% trans "Caffeine this month" %}</h2>
  <canvas id="coffeemonth" width="590" height="240"></canvas>
</div>
<div class="white-box">
  <h2>{% trans "Coffee vs. Mate" %}</h2>
  <canvas id="coffeevsmate" width="590" height="240"></canvas>
</div>
<div class="white-box">
  <h2>{% trans "Caffeine this year" %}</h2>
  <canvas id="coffeeyear" width="590" height="240"></canvas>
</div>
<div class="white-box">
  <h2>{% trans "Caffeine by hour (overall)" %}</h2>
  <canvas id="coffeebyhour" width="590" height="240"></canvas>
</div>
<div class="white-box">
  <h2>{% trans "Caffeine by weekday (overall)" %}</h2>
  <canvas id="coffeebyweekday" width="590" height="240"></canvas>
</div>
{% endblock content %}
{% block extra_js %}
{% if ownprofile %}
<script type="text/javascript" src="{% static "js/bootstrap-datepicker.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-clockpicker.js" %}"></script>
<script type="text/javascript" src="{% static "js/jsqr-0.2-min.js" %}"></script>
<script type="text/javascript">
function drawQR(data, canvasid) {
    var qr = new JSQR();
    var code = new qr.Code();

    code.encodeMode = code.ENCODE_MODE.BYTE;
    code.version = code.DEFAULT;
    code.errorCorrection = code.ERROR_CORRECTION.H;

    var input = new qr.Input();
    input.dataType = input.DATA_TYPE.TEXT;
    input.data = data;

    var matrix = new qr.Matrix(input, code);
    matrix.scale = 3;
    matrix.margin = 2;

    var canvas = document.getElementById(canvasid);
    canvas.setAttribute('width', matrix.pixelWidth);
    canvas.setAttribute('height', matrix.pixelWidth);
    canvas.getContext('2d').fillStyle = 'rgb(0,0,0)';
    matrix.draw(canvas, 0, 0);
}

drawQR('{% ontherunurl %}', 'ontherunqrcode');
</script>
{% endif %}
{% include "includes/js_charting.html" %}
<script type="text/javascript">
var todaycolor = "#E64545";
var monthcolor = "#FF9900";
var monthcoffeecolor = "#FFB84D";
var pointcolor = "#FFF";
var byhourcoffeecolor = "#FF9999";
var byweekdaycoffeecolor = "#99FF99";
var yearcolor = "#3399FF";
var hourcolor = "#FF6666";
var weekdaycolor = "#A3CC52";
var matecolor = "#FFCC00";
var matelightcolor = "#FFE066";
var barChartData;
var lineChartData;

var doughnutData = [
    {
      value: {{ coffees|default:0 }},
      color: todaycolor
    },
    {
      value: {{ mate|default:0 }},
      color: matecolor
    }
];
new Chart(document.getElementById("coffeevsmate").getContext("2d")).Doughnut(
    doughnutData);

barChartData = {
  labels: ['{{ todaydata.labels|join:"', '" }}'],
  datasets: [
  {
    fillColor: todaycolor,
    strokeColor: todaycolor,
    data: [{{ todaydata.coffee|join:", " }}],
  },
  {
    fillColor: matecolor,
    strokeColor: matecolor,
    data: [{{ todaydata.mate|join:", "}}],
  },
  ]
};
drawBarChart('coffeetoday', barChartData, {{ todaydata.maxvalue|default:1 }});

lineChartData = {
  labels: ['{{ monthdata.labels|join:"', '" }}'],
  datasets: [
  {
    fillColor: monthcolor,
    strokeColor: monthcoffeecolor,
    pointColor: monthcoffeecolor,
    pointStrokeColor: pointcolor,
    data: [{{ monthdata.coffee|join:", " }}],
  },
  {
    fillColor: matecolor,
    strokeColor: matelightcolor,
    pointColor: matelightcolor,
    pointStrokeColor: pointcolor,
    data: [{{ montdata.mate|join:", " }}],
  },
  ]
};
drawLineChart('coffeemonth', lineChartData, {{ monthdata.maxvalue|default:1 }});

barChartData = {
  labels: ['{{ yeardata.labels|join:"', '" }}'],
  datasets: [
  {
    fillColor: yearcolor,
    strokeColor: yearcolor,
    data: [{{ yeardata.coffee|join:", " }}],
  },
  {
    fillColor: matecolor,
    strokeColor: matecolor,
    data: [{{ yeardata.mate|join:", " }}],
  },
  ]
};
drawBarChart('coffeeyear', barChartData, {{ yeardata.maxvalue|default:1 }});

lineChartData = {
  labels: ['{{ byhourdata.labels|join:"', '" }}'],
  datasets: [
  {
    fillColor: hourcolor,
    strokeColor: byhourcoffeecolor,
    pointColor: byhourcoffeecolor,
    pointStrokeColor: pointcolor,
    data: [{{ byhourdata.coffee|join:", "}}],
  },
  {
    fillColor: matecolor,
    strokeColor: matelightcolor,
    pointColor: matelightcolor,
    pointStrokeColor: pointcolor,
    data: [{{ byhourdata.mate|join:", "}}],
  },
  ]
};
drawLineChart('coffeebyhour', lineChartData, {{ byhourdata.maxvalue|default:1 }});

lineChartData = {
  labels: ['{{ byweekdaydata.labels|join:"', '" }}'],
  datasets: [
  {
    fillColor: weekdaycolor,
    strokeColor: byweekdaycoffeecolor,
    pointColor: byweekdaycoffeecolor,
    pointStrokeColor: pointcolor,
    data: [{{ byweekdaydata.coffee|join:", "}}],
  },
  {
    fillColor: matecolor,
    strokeColor: matelightcolor,
    pointColor: matelightcolor,
    pointStrokeColor: pointcolor,
    data: [{{ byweekdaydata.mate|join:", "}}],
  },
  ]
};
drawLineChart('coffeebyweekday', lineChartData, {{ byweekdaydata.maxvalue|default:1 }});
</script>
<script type="text/javascript" src="{% url "jsi18n_catalog" packages='caffeine' %}"></script>
<script type="text/javascript" src="{% static "caffeine/js/validation.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.clockpicker').clockpicker({
      autoclose: true,
      default: 'now',
    });
    $('.datepicker input').datepicker({
      format: 'yyyy-mm-dd',
      todayBtn: 'linked',
      calendarWeeks: true,
      autoclose: true,
      todayHighlight: true,
    });

    $('img.toggle').click(function(event) {
        $('#' + $(this).attr('data-toggle')).toggle();
    });
    $('#coffeeform').submit(function(event) {
        return sanitize_datetime('input#id_coffeedate', 'input#id_coffeetime');
    });
    $('#mateform').submit(function(event) {
        return sanitize_datetime('input#id_matedate', 'input#id_matetime');
    });
});
</script>
{% endblock extra_js %}
