/*
    caffeine.css: Cascading Style Sheet for coffeestats.org
    Author: Holger Winter <dreary@online.de>
    Author: Jan Dittberner <jan@dittberner.info>
    Author: Jeremias Arnstadt <j.arnstadt@art-ifact.de>
    license: MIT
    Date: March 27th, 2014
    Version: 1.4
*/
/* colors */
/* FONTS */
@font-face {
  font-family: Droid Sans;
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/DroidSans.ttf"); }

@font-face {
  font-family: Droid Sans;
  font-style: normal;
  font-weight: bold;
  src: url("/static/fonts/DroidSans-Bold.ttf"); }

@font-face {
  font-family: Harabara;
  font-style: normal;
  src: url("/static/fonts/Harabara.ttf"); }

/* GENERAL */
body {
  padding: 0;
  margin: 0;
  background: url("/static/images/background.jpg") no-repeat center center fixed;
  background-color: #cac8bb;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
  font-family: Droid Sans, Helvetica, Verdana, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal; }

a {
  color: #584a4a !important; }

a.btn, input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 2px 0;
  font-family: Droid Sans, Helvetica, Verdana, Arial, sans-serif; }

input[type=submit],
button,
a.btn {
  background: #7f7665;
  padding: 10px;
  font-size: 1.35em;
  color: white !important;
  text-shadow: 1px 1px 0 #524c42;
  min-height: 25px;
  border: 1px solid #615a4f;
  box-shadow: 0 1px 0 #9e9482 inset;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  font-weight: normal !important; }
  input[type=submit]:hover,
  button:hover,
  a.btn:hover {
    background: #5a5348; }
  input[type=submit].secondary,
  button.secondary,
  a.btn.secondary {
    color: #b6aa97 !important;
    text-shadow: 1px 1px 0 white;
    background: #f7f3e5;
    box-shadow: 0 1px 0 white inset;
    border: 1px solid #b6aa97; }
    input[type=submit].secondary:hover,
    button.secondary:hover,
    a.btn.secondary:hover {
      background: #5a5348 !important;
      box-shadow: 0 1px 0 #9e9482 inset;
      text-shadow: 1px 1px 0 #524c42 !important;
      color: white !important; }

input[type=text],
input[type=email],
input[type=password] {
  padding: 10px;
  font-size: 1.35em;
  border: 1px solid #d8ccb3;
  background-color: #f7f3e5;
  box-shadow: 0 1px 0 white inset;
  color: #4f4b42;
  min-height: 25px; }

.right {
  float: right; }

.left,
.leftform {
  float: left; }

.clear {
  clear: both; }

.white-box {
  padding: 20px;
  margin: 0 2% 2% 0;
  background-color: white;
  float: left;
  width: 48%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  min-height: 115px; }
  .white-box.update {
    min-height: 317px; }
  .white-box.today {
    min-height: 318px; }
  .white-box.fullWidth {
    width: 100%;
    margin: 0 0 2% 0; }
  .white-box:nth-child(odd) {
    float: right;
    margin: 0 0 2% 0; }
  .white-box p {
    line-height: 24px; }
  .white-box canvas {
    width: 100% !important;
    height: auto !important; }
  .white-box h2 {
    font-size: 2.4em !important;
    color: #c2b9b9; }
  .white-box .pagelinks {
    display: inline-block;
    width: 100%; }
    .white-box .pagelinks div.left {
      width: 50%; }
      .white-box .pagelinks div.left a.btn {
        width: 94%;
        margin-bottom: 10px;
        display: block; }
    .white-box .pagelinks div.right {
      margin-right: 21px; }
  .white-box .profilelist {
    padding-left: 0; }
    .white-box .profilelist li {
      list-style: none;
      margin: 7px 0; }
  .white-box p {
    margin: 14px 0;
    clear: both; }

.white-box-center {
  text-align: center; }

form {
  margin: 14px 0; }
  form.coffeeform #email {
    width: 98%; }

form .left,
form .leftform {
  width: 48%; }
  form .left:nth-child(odd),
  form .leftform:nth-child(odd) {
    margin-right: 2%; }

.fullWidth form .leftform {
  width: 30%; }
  .fullWidth form .leftform:nth-child(odd) {
    margin-right: 0; }
  .fullWidth form .leftform:nth-child(2) {
    margin: 0 2%; }

.leftform {
  display: inline-block; }
  .leftform input {
    width: 100%; }

form.otrblockform input[type=submit] {
  width: 50%;
  padding: 30px;
  font-size: 2em; }

li.flash-success, li.flash-info, li.flash-warning, li.flash-error {
  list-style-type: none;
  padding: 10px 10px 10px 25px;
  margin-bottom: 5pt;
  border: 1px solid black;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 5px center; }
  li.flash-success .close, li.flash-info .close, li.flash-warning .close, li.flash-error .close {
    float: right;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-shadow: 0 1px 0 white;
    opacity: 0.2; }

ul.errorlist li {
  list-style-type: none;
  padding: 2px;
  background-repeat: no-repeat;
  background-position: 5px center;
  padding: 10px 10px 10px 25px; }

li.flash-success {
  background-image: url("/static/images/info.png");
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

li.flash-info {
  background-image: url("/static/images/info.png");
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1; }

li.flash-warning {
  background-image: url("/static/images/alert.png");
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5; }

li.flash-error, ul.errorlist li {
  background-image: url("/static/images/alert.png");
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7; }

ul.flash-messages, ul.errorlist {
  margin: 0px;
  padding: 0px; }

#system-flash .flash-messages {
  background: transparent;
  position: absolute;
  top: 0px;
  width: 60%; }

.usercard, .rankbox {
  width: 45%;
  margin-right: 5%;
  margin-bottom: 10px;
  margin-top: 10px;
  float: left;
  display: inline-block; }
  .usercard div.left, .rankbox div.left {
    display: inline-block; }
    .usercard div.left input, .rankbox div.left input {
      display: inline-block;
      width: 94%; }

.rightfloated {
  float: right; }

.clearfix {
  clear: both;
  height: 0; }

ul.userlist {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit; }
  a:hover {
    text-decoration: underline; }
  a img {
    border: none; }

strong {
  font-weight: bold; }

.inlineform select {
  padding: 10px;
  font-size: 1.35em;
  border: none;
  background-color: #f7f3e5;
  color: #4f4b42;
  min-height: 22px;
  line-height: 22px; }

/* WRAPPER */
#wrapper {
  padding: 0;
  margin: 0 auto;
  width: 80%; }

/* HEADER */
#header {
  padding: 10px 10px 10px 100px;
  margin: 0;
  color: #584a4a;
  background-image: url("/static/images/logo.png");
  background-repeat: no-repeat;
  background-position: left center; }
  #header h1 {
    font-family: "Harabara";
    font-size: 48px;
    margin-bottom: 1px;
    max-width: 32%; }
  #header p {
    margin-top: 0;
    max-width: 32%; }

/* FOOTER */
.footer {
  clear: both; }
  .footer .footertext {
    font-size: small; }

/* NAVIGATION */
#navigation {
  margin: 0 auto 18px;
  width: 50%; }
  #navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    #navigation ul li {
      margin: 0 0 0 -3px;
      display: inline-block;
      border-right: 1px solid #a3a3a3;
      box-shadow: 1px 0 0 white; }
      #navigation ul li:last-child {
        border-right: 0;
        box-shadow: 0 0 0 white; }
      #navigation ul li a {
        display: inline-block;
        font-weight: normal;
        color: black;
        background-repeat: no-repeat;
        padding: 10px 10px 10px 32px;
        background-position: 8px 9px; }
        #navigation ul li a:hover {
          text-decoration: none;
          background-color: #ece7dd; }
        #navigation ul li a.navindex {
          background-image: url("/static/images/home.png"); }
        #navigation ul li a.navplusone {
          background-image: url("/static/images/tag.png"); }
        #navigation ul li a.navprofile {
          background-image: url("/static/images/profile.png"); }
        #navigation ul li a.navexplore {
          background-image: url("/static/images/list.png"); }
        #navigation ul li a.navoverall {
          background-image: url("/static/images/flask.png"); }
        #navigation ul li a.navabout {
          background-image: url("/static/images/user-4.png"); }
        #navigation ul li a.navlogout {
          background-image: url("/static/images/out.png"); }

/* CONTENT */
#content {
  padding: 0;
  margin: 0; }
  #content h2 {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold; }
  #content h3 {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
    font-weight: bold; }

/* REGISTER */
.white-box.fullWidth div.left {
  width: 33%; }
  .white-box.fullWidth div.left b {
    display: inline-block;
    margin-bottom: 10px; }
  .white-box.fullWidth div.left input {
    width: 80%; }
.white-box.fullWidth #recaptcha_widget_div {
  float: left;
  margin-top: 23px; }

/* Responsive */
@media screen and (max-width: 1250px) {
  #wrapper #navigation {
    width: 58%; }
  #wrapper .white-box {
    margin: 0 1% 2% 0; }
  #wrapper .white-box:nth-child(odd) {
    margin: 0 0 2% 1%; } }
@media screen and (max-width: 1000px) {
  /* iPhone, Android rules here */
  #wrapper {
    padding: 0px;
    width: 94%;
    margin: 0 auto; }
    #wrapper #header #account {
      font-size: 1.4em; }
    #wrapper #header p {
      max-width: 85%; }
    #wrapper #navigation {
      width: 100%; }
      #wrapper #navigation ul li a {
        padding: 10px 10px 10px 30px;
        font-size: 1.4em;
        background-position: 8px 14px; }
    #wrapper .white-box, #wrapper .white-box:nth-child(odd) {
      margin: 24px 0px 0px; }
    #wrapper .white-box {
      width: 92%;
      float: none !important;
      display: inline-block; }
      #wrapper .white-box h2 {
        font-size: 4em !important; }
      #wrapper .white-box p {
        line-height: 1.5em;
        font-size: 1.5em; }
      #wrapper .white-box form .left, #wrapper .white-box form .leftform {
        clear: both;
        width: 100% !important; }
      #wrapper .white-box form .leftform {
        margin: 5pt 0; }
        #wrapper .white-box form .leftform #recaptcha_widget_div {
          margin: 0; }
      #wrapper .white-box form.otrblockform input {
        margin: 5pt 0;
        width: 98.8%; }
      #wrapper .white-box form.coffeeform #email {
        width: 100%; }
      #wrapper .white-box .profilelist {
        font-size: 1.4em; }
      #wrapper .white-box input[type=submit],
      #wrapper .white-box a.btn {
        font-size: 1.85em;
        padding: 16px 14px; }
      #wrapper .white-box input[type=text],
      #wrapper .white-box input[type=email],
      #wrapper .white-box input[type=password] {
        font-size: 1.85em;
        padding: 16px 14px; }
      #wrapper .white-box table,
      #wrapper .white-box li,
      #wrapper .white-box .usercard,
      #wrapper .white-box .rankbox {
        font-size: 1.4em; }
      #wrapper .white-box h3 {
        font-size: 1.4em; }

  /* REGISTER */
  .white-box.fullWidth .left {
    width: 100%;
    float: none !important;
    display: block;
    margin-top: 24px; }
    .white-box.fullWidth .left b {
      display: inline-block;
      margin-bottom: 10px; }
    .white-box.fullWidth .left input {
      width: 97%; } }
