/*
    caffeine.css: Cascading Style Sheet for coffeestats.org
    Author: Holger Winter <dreary@online.de>
    Author: Jan Dittberner <jan@dittberner.info>
    Author: Jeremias Arnstadt <j.arnstadt@art-ifact.de>
    license: MIT
    Date: March 27th, 2014
    Version: 1.4
*/

@import 'common/common';
@import 'common/colors';
@import 'common/coffeestats-icons';
@import 'common/fonts';
@import 'common/mediaqueries';
@import 'components/adaptivePlaceholders';


@import 'components/general';
@import 'components/whiteBox';
@import 'components/form';
@import 'components/lists';
@import 'components/wrapper';
@import 'components/header';
@import 'components/login';
@import 'components/content';
@import 'components/footer';
@import 'components/navigation';
@import 'components/clockpicker';
@import 'components/datepicker';


#system-flash .flash-messages {
    background: transparent;
    position: absolute;
    top: 0px;
    width: 60%;
}

.usercard,
.rankbox {
  width: 45%;
  margin-right: 5%;
  margin-bottom: 10px;
  margin-top: 10px;
  float: left;
  display:inline-block;

  div.left {
    display:inline-block;

    input {
      display:inline-block;
      width:94%;
    }
  }
}
