/*
    caffeine.css: Cascading Style Sheet for coffeestats.org
    Author: Holger Winter <dreary@online.de>
    Author: Jan Dittberner <jan@dittberner.info>
    Author: Jeremias Arnstadt <j.arnstadt@art-ifact.de>
    license: MIT
    Date: March 22nd, 2014
    Version: 1.3
*/

/* colors */

$body-background-color: #cac8bb;

$text-color: #000000;
$link-color: #584a4a;
$font-header: $link-color;

$button-background: #7f7665;
$button-border: #615a4f;
$button-color: #fff;
$button-hover-background: #5a5348;
$button-shadow: #9e9482;
$button-text-shadow: #524c42;

$button-secondary-background: #f7f3e5;
$button-secondary-border: #b6aa97;
$button-secondary-color: $button-secondary-border;
$button-secondary-shadow: #fff;
$button-secondary-text-shadow: $button-secondary-shadow;

$input-background: $button-secondary-background;
$input-border: #d8ccb3;
$input-color: #4f4b42;
$input-shadow: $button-secondary-shadow;

$white-box-shadow: rgba(0, 0, 0, 0.13);
$white-box-background: #fff;

$navigation-border-right: #a3a3a3;
$navigation-box-shadow: #fff;
$navigation-link-hover-background: #ece7dd;

$error-color: #b94a48;
$error-background: #f2dede;
$error-border: #eed3d7;

$warning-color: #c09853;
$warning-background: #fcf8e3;
$warning-border: #fbeed5;

$info-color: #3a87ad;
$info-background: #d9edf7;
$info-border: #bce8f1;

$success-color: #468847;
$success-background: #dff0d8;
$success-border: #d6e9c6;

/* FONTS */

@font-face {
  font-family: Droid Sans;
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/DroidSans.ttf");
}


@font-face {
  font-family: Droid Sans;
  font-style: normal;
  font-weight: bold;
  src: url("/static/fonts/DroidSans-Bold.ttf");
}


@font-face {
  font-family: Harabara;
  font-style: normal;
  src: url('/static/fonts/Harabara.ttf');
}


/* GENERAL */

body {
  padding: 0;
  margin: 0;
  background: url("/static/images/background.jpg") no-repeat center center fixed;
  background-color: $body-background-color;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $text-color;
  font-family: Droid Sans, Helvetica, Verdana, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

a {
  color: $link-color !important;
}

a.btn, input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 2px 0;
  font-family: Droid Sans, Helvetica, Verdana, Arial, sans-serif;
}

input[type=submit],
button,
a.btn {
  background: $button-background;
  padding: 10px;
  font-size: 1.35em;
  color: $button-color !important;
  text-shadow: 1px 1px 0 $button-text-shadow;
  min-height: 25px;
  border: 1px solid $button-border;
  box-shadow: 0 1px 0 $button-shadow inset;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration:none !important;
  font-weight: normal !important;

  &:hover {
    background: $button-hover-background;
  }

  &.secondary {
    color: $button-secondary-color !important;
    text-shadow: 1px 1px 0 $button-secondary-text-shadow;
    background: $button-secondary-background;
    box-shadow: 0 1px 0 $button-secondary-shadow inset;
    border: 1px solid $button-secondary-border;

    &:hover {
      background: $button-hover-background !important;
      box-shadow: 0 1px 0 $button-shadow inset;
      text-shadow: 1px 1px 0 $button-text-shadow !important;
      color: $button-color !important;
    }
  }
}

input[type=text],
input[type=email],
input[type=password] {
  padding: 10px;
  font-size: 1.35em;
  border: 1px solid $input-border;
  background-color: $input-background;
  box-shadow: 0 1px 0 $input-shadow inset;
  color: $input-color;
  min-height: 25px;
}

.right {
  float:right;
}

.left,
.leftform {
  float:left;
}

.clear {
  clear:both;
}

.white-box {
  padding: 20px;
  margin: 0 2% 2% 0;
  background-color: $white-box-background;
  float: left;
  width: 48%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 1px 1px 12px $white-box-shadow;
  border-radius: 4px;
  min-height: 115px;

  &.update {
    min-height: 317px;
  }
  &.today {
    min-height: 318px;
  }

  &.fullWidth {
    width: 100%;
    margin: 0 0 2% 0;
  }

  &:nth-child(odd) {
    float: right;
    margin: 0 0 2% 0;
  }

  p {
    line-height: 24px;
  }
  canvas {
    width:100% !important;
    height: auto !important;
  }
  h2 {
    font-size: 2.4em !important;
    color: rgb(194, 185, 185);
  }

  .pagelinks {
    display:inline-block;
    width: 100%;

    div.left {
      width: 50%;

      a.btn {
        width: 94%;
        margin-bottom: 10px;
        display: block;
      }
    }
    div.right {
      margin-right: 21px;
    }
  }

  .profilelist {
    padding-left:0;

    li {
      list-style: none;
      margin: 7px 0;
    }
  }

  p {
    margin: 14px 0;
    clear: both;
  }
}

.white-box-center {
    text-align: center;
}

form {
  margin: 14px 0;

  &.coffeeform {
      #email {
          width:98%;
      }
  }
}

form .left,
form .leftform {
  width: 48%;

  &:nth-child(odd) {
    margin-right: 2%;
  }
}

.fullWidth form .leftform {
  width: 30%;

  &:nth-child(odd) {
    margin-right:0;
  }

  &:nth-child(2) {
    margin:0 2%;
  }
}

.leftform {
  display:inline-block;

  input {
    width: 100%;
  }
}

form.otrblockform {
  input[type=submit] {
    width:50%;
    padding: 30px;
    font-size: 2em;
  }
}

li {
    &.flash-success,
    &.flash-info,
    &.flash-warning,
    &.flash-error {
        list-style-type: none;
        padding: 10px 10px 10px 25px;
        margin-bottom: 5pt;
        border: 1px solid $text-color;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: 5px center;

        .close {
            float: right;
            font-size: 16px;
            font-weight: bold;
            color: $text-color;
            text-shadow: 0 1px 0 $button-secondary-shadow;
            opacity: 0.2;
        }
    }
}

li.flash-success {
    background-image: url('/static/images/info.png');
    color: $success-color;
    background-color: $success-background;
    border-color: $success-border;
}
li.flash-info {
    background-image: url('/static/images/info.png');
    color: $info-color;
    background-color: $info-background;
    border-color: $info-border;
}
li.flash-warning {
    background-image: url('/static/images/alert.png');
    color: $warning-color;
    background-color: $warning-background;
    border-color: $warning-border;
}
li.flash-error {
    background-image: url('/static/images/alert.png');
    color: $error-color;
    background-color: $error-background;
    border-color: $error-border;
}

ul.flash-messages {
    margin:0px;
    padding:0px;
}

#system-flash .flash-messages {
    background: transparent;
    position: absolute;
    top: 0px;
    width: 60%;
}

.usercard, .rankbox {
  width: 45%;
  margin-right: 5%;
  margin-bottom: 10px;
  margin-top: 10px;
  float: left;
  display:inline-block;

  div.left {
    display:inline-block;

    input {
      display:inline-block;
      width:94%;
    }
  }
}

.rightfloated {
  float: right;
}

.clearfix {
  clear: both;
  height: 0;
}

ul.userlist {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
  img {
    border: none;
  }
}

strong {
  font-weight: bold;
}

.inlineform {
  select {
    padding: 10px;
    font-size: 1.35em;
    border: none;
    background-color: $input-background;
    color: $input-color;
    min-height: 22px;
    line-height: 22px;
  }
}

/* WRAPPER */

#wrapper {
  padding: 0;
  margin: 0 auto;
  width: 80%;
}

/* HEADER */

#header {
  padding: 10px 10px 10px 100px;
  margin: 0;
  color: $font-header;
  background-image: url('/static/images/logo.png');
  background-repeat: no-repeat;
  background-position: left center;
  h1 {
    font-family: "Harabara";
    font-size: 48px;
    margin-bottom: 1px;
    max-width: 32%;
  }
  p {
    margin-top: 0;
    max-width: 32%;
  }
}

/* FOOTER */

.footer {
  clear: both;

  .footertext {
    font-size: small;
  }
}


/* NAVIGATION */

#navigation {
  margin: 0 auto 18px;
  width:50%;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      margin: 0 0 0 -3px;
      display: inline-block;
      border-right: 1px solid $navigation-border-right;
      box-shadow: 1px 0 0 $navigation-box-shadow;

      &:last-child {
        border-right: 0;
        box-shadow: 0 0 0 $navigation-box-shadow;
      }

      a {
        display: inline-block;
        font-weight: normal;
        color: $text-color;
        background-repeat: no-repeat;
        padding: 10px 10px 10px 32px;
        background-position: 8px 9px;

        &:hover {
          text-decoration: none;
          background-color: $navigation-link-hover-background;
        }

        &.navindex {
          background-image: url('/static/images/home.png');
        }
        &.navplusone {
          background-image: url('/static/images/tag.png');
        }
        &.navprofile {
          background-image: url('/static/images/profile.png');
        }
        &.navexplore {
          background-image: url('/static/images/list.png');
        }
        &.navoverall {
          background-image: url('/static/images/flask.png');
        }
        &.navabout {
          background-image: url('/static/images/user-4.png');
        }
        &.navlogout {
          background-image: url('/static/images/out.png');
        }
      }
    }
  }
}

/* CONTENT */

#content {
  padding: 0;
  margin: 0;
  h2 {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  h3 {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
  }
}

/* REGISTER */

.white-box.fullWidth {
  div.left {
    width: 33%;

    b {
      display: inline-block;
      margin-bottom:10px;
    }

    input {
      width:80%;
    }
  }

  #recaptcha_widget_div {
    float: left;
    margin-top:23px;
  }
}

/* Responsive */

@media screen and (max-width: 1250px) {
  #wrapper {

    #navigation {
      width: 58%;
    }

    .white-box {
      margin: 0 1% 2% 0;
    }

    .white-box:nth-child(odd) {
      margin: 0 0 2% 1%;
    }
  }
}

@media screen and (max-width: 1000px) {
  /* iPhone, Android rules here */
  #wrapper {
    padding: 0px;
    width: 94%;
    margin: 0 auto;

    #header {

      #account {
        font-size: 1.4em;
      }

      p {
        max-width:85%;
      }
    }

    #navigation {
      width: 100%;

      ul li a {
        padding: 10px 10px 10px 30px;
        font-size: 1.4em;
        background-position: 8px 14px;
      }
    }

    .white-box, .white-box:nth-child(odd) {
        margin: 24px 0px 0px;
    }

    .white-box {
      width: 92%;
      float: none !important;
      display: inline-block;

      h2 {
        font-size: 4em !important;
      }

      p {
        line-height: 1.5em;
        font-size: 1.5em;
      }

      form {
        .left, .leftform {
          clear:both;
          width: 100% !important;
        }

        .leftform {
          margin:5pt 0;

          #recaptcha_widget_div {
              margin:0;
          }
        }

        &.otrblockform input {
            margin:5pt 0;
            width:98.8%;
        }

        &.coffeeform {
            #email {
                width:100%;
            }
        }
      }

      .profilelist {
        font-size: 1.4em;
      }

      input[type=submit],
      a.btn {
        font-size: 1.85em;
        padding: 16px 14px;;
      }

      input[type=text], 
      input[type=email], 
      input[type=password] {
        font-size: 1.85em;
        padding: 16px 14px;
      }

      table,
      li,
      .usercard, 
      .rankbox {
        font-size: 1.4em;
      }

      h3 {
        font-size: 1.4em;
      }
    }
  }

  /* REGISTER */

  .white-box.fullWidth {
    .left {
      width: 100%;
      float: none !important;
      display: block;
      margin-top: 24px;

      b {
        display: inline-block;
        margin-bottom:10px;
      }

      input {
        width:97%;
      }
    }
  }
}
