/*
    caffeine.css: Cascading Style Sheet for coffeestats.org
    Author: Holger Winter <dreary@online.de>
    Author: Jan Dittberner <jan@dittberner.info>
    Author: Jeremias Arnstadt <j.arnstadt@art-ifact.de>
    license: MIT
    Date: March 27th, 2014
    Version: 1.4
*/
.clearfix {
  clear: both;
  height: 0; }

.right,
.rightfloated {
  float: right; }

.left,
.leftform {
  float: left; }

.clear {
  clear: both; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.rightfloated {
  float: right; }

/* colors */
/* GENERAL */
body {
  padding: 0;
  margin: 0;
  background: url("/static/images/bg-landingpage.jpg") no-repeat center center fixed;
  background-color: #cac8bb;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #4b4b4b;
  font-family: 'Source Sans Pro', Helvetica, Verdana, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding-top: 55px; }

a {
  color: #796c67 !important; }

a.btn, input {
  margin: 2px 0;
  font-family: 'Source Sans Pro', Helvetica, Verdana, Arial, sans-serif; }

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit; }
  a:hover {
    text-decoration: underline; }
  a img {
    border: none; }

input[type=submit],
button,
a.btn {
  background: #796c67;
  padding: 5px 10px;
  font-size: 1.35em;
  color: white !important;
  min-height: 25px;
  border: 1px solid #615a4f;
  box-shadow: 0 1px 0 #9e9482 inset;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  font-weight: normal !important; }
  input[type=submit]:hover,
  button:hover,
  a.btn:hover {
    background: #5a5348; }
  input[type=submit].secondary,
  button.secondary,
  a.btn.secondary {
    color: #b6aa97 !important;
    text-shadow: 1px 1px 0 white;
    background: #f7f3e5;
    box-shadow: 0 1px 0 white inset;
    border: 1px solid #b6aa97; }
    input[type=submit].secondary:hover,
    button.secondary:hover,
    a.btn.secondary:hover {
      background: #5a5348 !important;
      box-shadow: 0 1px 0 #9e9482 inset;
      text-shadow: 1px 1px 0 #524c42 !important;
      color: white !important; }

input[type=text],
input[type=email],
input[type=password] {
  /*font-size: 1.35em;
  background-color: $input-background;
  color: $input-color;*/
  box-sizing: border-box;
  width: 100%;
  height: -webkit-calc(3em + 2px);
  height: calc(3em + 2px);
  margin: 0 0 1em;
  padding: 1em;
  border: 1px solid #796c67;
  border-radius: 0;
  background: white;
  resize: none;
  outline: none; }
  input[type=text][required]:focus, input[type=text][name]:focus,
  input[type=email][required]:focus,
  input[type=email][name]:focus,
  input[type=password][required]:focus,
  input[type=password][name]:focus {
    border-color: #796c67; }
    input[type=text][required]:focus + label[placeholder]:before, input[type=text][name]:focus + label[placeholder]:before,
    input[type=email][required]:focus + label[placeholder]:before,
    input[type=email][name]:focus + label[placeholder]:before,
    input[type=password][required]:focus + label[placeholder]:before,
    input[type=password][name]:focus + label[placeholder]:before {
      color: #796c67; }
  input[type=text][required]:focus + label[placeholder]:before, input[type=text][required]:valid + label[placeholder]:before, input[type=text][name]:focus + label[placeholder]:before, input[type=text][name]:valid + label[placeholder]:before,
  input[type=email][required]:focus + label[placeholder]:before,
  input[type=email][required]:valid + label[placeholder]:before,
  input[type=email][name]:focus + label[placeholder]:before,
  input[type=email][name]:valid + label[placeholder]:before,
  input[type=password][required]:focus + label[placeholder]:before,
  input[type=password][required]:valid + label[placeholder]:before,
  input[type=password][name]:focus + label[placeholder]:before,
  input[type=password][name]:valid + label[placeholder]:before {
    transition-duration: .2s;
    transform: translate(0, -1.2em) scale(0.9, 0.9);
    -webkit-transform: translate(0, -1.2em) scale(0.9, 0.9);
    color: #796c67; }
  input[type=text][required]:invalid + label[placeholder][alt]:before, input[type=text][name]:invalid + label[placeholder][alt]:before,
  input[type=email][required]:invalid + label[placeholder][alt]:before,
  input[type=email][name]:invalid + label[placeholder][alt]:before,
  input[type=password][required]:invalid + label[placeholder][alt]:before,
  input[type=password][name]:invalid + label[placeholder][alt]:before {
    content: attr(alt); }
  input[type=text][required] + label[placeholder], input[type=text][name] + label[placeholder],
  input[type=email][required] + label[placeholder],
  input[type=email][name] + label[placeholder],
  input[type=password][required] + label[placeholder],
  input[type=password][name] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1em;
    margin-top: -webkit-calc(-3em + 7px);
    margin-top: calc(-3em + 7px);
    margin-bottom: -webkit-calc((3em - 1em) - 8px);
    margin-bottom: calc((3em - 1em) - 8px); }
    input[type=text][required] + label[placeholder]:before, input[type=text][name] + label[placeholder]:before,
    input[type=email][required] + label[placeholder]:before,
    input[type=email][name] + label[placeholder]:before,
    input[type=password][required] + label[placeholder]:before,
    input[type=password][name] + label[placeholder]:before {
      content: attr(placeholder);
      display: inline-block;
      margin: 0;
      margin-left: -webkit-calc(1em - 0.6em);
      margin-left: calc(1em - 0.6em);
      margin-right: -webkit-calc(1em - 0.6em);
      margin-right: calc(1em - 0.6em);
      padding: 0 2px;
      color: #d4d2d2;
      font-weight: 400;
      white-space: nowrap;
      transition: .3s ease-in-out;
      -webkit-transition: .3s ease-in-out;
      background-image: linear-gradient(to bottom, white, white);
      background-size: 100% 12px;
      background-repeat: no-repeat;
      background-position: center; }

strong {
  font-weight: bold; }

#system-flash .flash-messages {
  background: transparent;
  position: absolute;
  top: 0px;
  width: 60%; }

.usercard,
.rankbox {
  width: 45%;
  margin-right: 5%;
  margin-bottom: 10px;
  margin-top: 10px;
  float: left;
  display: inline-block; }
  .usercard div.left,
  .rankbox div.left {
    display: inline-block; }
    .usercard div.left input,
    .rankbox div.left input {
      display: inline-block;
      width: 94%; }

.white-box {
  padding: 20px;
  margin: 0 2% 2% 0;
  background-color: white;
  float: left;
  width: 49%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 3px;
  min-height: 115px;
  /* REGISTER */ }
  .white-box.update {
    min-height: 317px; }
  .white-box.today {
    min-height: 318px; }
  .white-box.fullWidth {
    width: 100%;
    margin: 0 0 2% 0; }
  .white-box:nth-child(even) {
    float: right;
    margin: 0 0 2% 0; }
  .white-box.fullWidth div.left {
    width: 33%; }
    .white-box.fullWidth div.left b {
      display: inline-block;
      margin-bottom: 10px; }
    .white-box.fullWidth div.left input {
      width: 80%; }
  .white-box p {
    line-height: 24px; }
  .white-box canvas {
    width: 100% !important;
    height: auto !important; }
  .white-box h2 {
    font-size: 2.4em !important;
    color: #c2b9b9; }
  .white-box .pagelinks {
    display: inline-block;
    width: 100%; }
    .white-box .pagelinks div.left {
      width: 50%; }
      .white-box .pagelinks div.left a.btn {
        width: 94%;
        margin-bottom: 10px;
        display: block; }
    .white-box .pagelinks div.right {
      margin-right: 21px; }
  .white-box .profilelist {
    padding-left: 0; }
    .white-box .profilelist li {
      list-style: none;
      margin: 7px 0; }
  .white-box p {
    margin: 14px 0;
    clear: both; }

.white-box-center {
  text-align: center; }

form {
  margin: 14px 0; }
  form.coffeeform #email {
    width: 98%; }

form .left,
form .leftform {
  width: 48%; }
  form .left:nth-child(odd),
  form .leftform:nth-child(odd) {
    margin-right: 2%; }

.fullWidth form .leftform {
  width: 30%; }
  .fullWidth form .leftform:nth-child(odd) {
    margin-right: 0; }
  .fullWidth form .leftform:nth-child(2) {
    margin: 0 2%; }

.leftform {
  display: inline-block; }
  .leftform input {
    width: 100%; }

form.otrblockform input[type=submit] {
  width: 50%;
  padding: 30px;
  font-size: 2em; }

.inlineform select {
  padding: 10px;
  font-size: 1.35em;
  border: none;
  background-color: #f9f9f9;
  color: #4b4b4b;
  min-height: 22px;
  line-height: 22px; }

li.flash-success, li.flash-info, li.flash-warning, li.flash-error {
  list-style-type: none;
  padding: 10px 10px 10px 25px;
  margin-bottom: 5pt;
  border: 1px solid #4b4b4b;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 5px center; }
  li.flash-success .close, li.flash-info .close, li.flash-warning .close, li.flash-error .close {
    float: right;
    font-size: 16px;
    font-weight: bold;
    color: #4b4b4b;
    text-shadow: 0 1px 0 white;
    opacity: 0.2; }

ul.errorlist li {
  list-style-type: none;
  padding: 2px;
  background-repeat: no-repeat;
  background-position: 5px center;
  padding: 10px 10px 10px 25px; }

li.flash-success {
  background-image: url("/static/images/info.png");
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

li.flash-info {
  background-image: url("/static/images/info.png");
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1; }

li.flash-warning {
  background-image: url("/static/images/alert.png");
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5; }

li.flash-error, ul.errorlist li {
  background-image: url("/static/images/alert.png");
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7; }

ul.flash-messages, ul.errorlist {
  margin: 0px;
  padding: 0px; }

ul.userlist {
  list-style: none;
  padding: 0; }

/* WRAPPER */
#wrapper {
  padding: 0 0 30px;
  display: inline-block;
  width: 100%; }

/* HEADER */
#header {
  position: fixed;
  top: 0;
  margin-bottom: 35px;
  width: 100%;
  height: 58px;
  background: white; }
  #header .headerWrapper {
    margin: 0 auto;
    width: 960px;
    height: 49px;
    background-image: url("/static/images/logo.png");
    background-position: left center;
    background-size: auto 42px;
    background-repeat: no-repeat;
    color: #796c67; }
    #header .headerWrapper h1 {
      display: inline-block;
      margin-top: 8px;
      margin-bottom: 1px;
      margin-left: 47px;
      max-width: 32%;
      font-size: 25px;
      font-family: 'Amaranth', sans-serif;
      line-height: 43px; }

nav.login {
  height: 58px; }
  nav.login .btn {
    color: white;
    font-weight: 300;
    font-size: 15px; }
  nav.login ul,
  nav.login li {
    list-style: none; }
  nav.login > ul {
    margin-top: 10px; }
    nav.login > ul > li {
      float: right; }
      nav.login > ul > li:first-child {
        position: relative;
        margin-left: 6px; }
      nav.login > ul > li:hover, nav.login > ul > li.hover {
        position: relative;
        cursor: pointer; }
        nav.login > ul > li:hover .loginBox, nav.login > ul > li.hover .loginBox {
          position: absolute;
          right: 0;
          display: inline-block;
          padding: 10px 10px 46px;
          width: 262px;
          border-right: 1px solid #eeeded;
          border-left: 1px solid #eeeded;
          background: white; }
          nav.login > ul > li:hover .loginBox input, nav.login > ul > li.hover .loginBox input {
            display: block;
            width: 100%; }
            nav.login > ul > li:hover .loginBox input[type=submit], nav.login > ul > li.hover .loginBox input[type=submit] {
              position: absolute;
              bottom: 0;
              left: -0.5%;
              margin-bottom: 0;
              width: 101%;
              height: 36px;
              font-weight: 300 !important; }
          nav.login > ul > li:hover .loginBox a, nav.login > ul > li.hover .loginBox a {
            font-size: 10px; }
        nav.login > ul > li:hover span, nav.login > ul > li.hover span {
          border-bottom: 3px solid #796c67;
          padding-bottom: 19px; }
      nav.login > ul > li span {
        display: inline-block;
        margin-left: 0px;
        padding: 8px 10px 10px; }
      nav.login > ul > li ul {
        display: none; }

/* CONTENT */
#content {
  padding: 35px 0 35px 0;
  margin: 0 auto;
  width: 960px; }
  #content h2 {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 16px;
    font-weight: 300; }
  #content h3 {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
    font-weight: bold; }

/* FOOTER */
.footer {
  clear: both;
  background: white;
  height: 28px;
  position: fixed;
  bottom: 0;
  width: 100%; }
  .footer .footertext {
    font-size: small;
    margin: 0 auto;
    width: 960px;
    text-align: center;
    padding: 7px 0; }

/* NAVIGATION */
nav.mainNav {
  height: 58px; }
  nav.mainNav .btn {
    color: white;
    font-weight: 300;
    font-size: 15px; }
  nav.mainNav ul,
  nav.mainNav li {
    list-style: none; }
  nav.mainNav > ul {
    margin-top: 10px; }
    nav.mainNav > ul > li {
      float: left; }
      nav.mainNav > ul > li:first-child {
        position: relative;
        margin-left: 6px; }
      nav.mainNav > ul > li.active span,
      nav.mainNav > ul > li.active > a {
        border-bottom: 3px solid #796c67;
        cursor: pointer; }
      nav.mainNav > ul > li:hover, nav.mainNav > ul > li.hover {
        position: relative; }
        nav.mainNav > ul > li:hover .settingsBox, nav.mainNav > ul > li.hover .settingsBox {
          position: absolute;
          right: 0;
          display: inline-block;
          margin-top: 48px;
          padding: 0 0 36px;
          width: 153px;
          border-right: 1px solid #eeeded;
          border-left: 1px solid #eeeded;
          background: white; }
          nav.mainNav > ul > li:hover .settingsBox .btn, nav.mainNav > ul > li.hover .settingsBox .btn {
            position: absolute;
            bottom: 0;
            left: -0.5%;
            margin-bottom: 0;
            width: 101%;
            height: 36px;
            font-weight: 300 !important; }
          nav.mainNav > ul > li:hover .settingsBox a.subNavLink, nav.mainNav > ul > li.hover .settingsBox a.subNavLink {
            display: block;
            padding: 8px 10px;
            width: 100%;
            text-align: center;
            text-decoration: none;
            font-weight: 300;
            font-size: 16px; }
            nav.mainNav > ul > li:hover .settingsBox a.subNavLink:first-child, nav.mainNav > ul > li.hover .settingsBox a.subNavLink:first-child {
              border-bottom: 1px solid #d7d2c7; }
            nav.mainNav > ul > li:hover .settingsBox a.subNavLink:hover, nav.mainNav > ul > li.hover .settingsBox a.subNavLink:hover {
              background: #f4eedf; }
        nav.mainNav > ul > li:hover span,
        nav.mainNav > ul > li:hover > a, nav.mainNav > ul > li.hover span,
        nav.mainNav > ul > li.hover > a {
          border-bottom: 3px solid #796c67;
          cursor: pointer; }
      nav.mainNav > ul > li span,
      nav.mainNav > ul > li > a {
        display: inline-block;
        margin-left: 0px;
        padding: 8px 10px 17px;
        text-decoration: none;
        font-weight: 300;
        font-size: 16px; }
      nav.mainNav > ul > li ul {
        display: none; }

/* Responsive */
/*
@media screen and (max-width: 1250px) {
  #wrapper {

    #navigation {
      width: 58%;
    }

    .white-box {
      margin: 0 1% 2% 0;
    }

    .white-box:nth-child(odd) {
      margin: 0 0 2% 1%;
    }
  }
}

@media screen and (max-width: 1000px) {
  /* iPhone, Android rules here */
/*  #wrapper {
    padding: 0px;
    width: 94%;
    margin: 0 auto;

    #header {

      #account {
        font-size: 1.4em;
      }

      p {
        max-width:85%;
      }
    }

    #navigation {
      width: 100%;

      ul li a {
        padding: 10px 10px 10px 30px;
        font-size: 1.4em;
        background-position: 8px 14px;
      }
    }

    .white-box, .white-box:nth-child(odd) {
        margin: 24px 0px 0px;
    }

    .white-box {
      width: 92%;
      float: none !important;
      display: inline-block;

      h2 {
        font-size: 4em !important;
      }

      p {
        line-height: 1.5em;
        font-size: 1.5em;
      }

      form {
        .left, .leftform {
          clear:both;
          width: 100% !important;
        }

        .leftform {
          margin:5pt 0;
        }

        &.otrblockform input {
            margin:5pt 0;
            width:98.8%;
        }

        &.coffeeform {
            #email {
                width:100%;
            }
        }
      }

      .profilelist {
        font-size: 1.4em;
      }

      input[type=submit],
      a.btn {
        font-size: 1.85em;
        padding: 16px 14px;;
      }

      input[type=text],
      input[type=email],
      input[type=password] {
        font-size: 1.85em;
        padding: 16px 14px;
      }

      table,
      li,
      .usercard,
      .rankbox {
        font-size: 1.4em;
      }

      h3 {
        font-size: 1.4em;
      }
    }
  }

  /* REGISTER */
/*
  .white-box.fullWidth {
    .left {
      width: 100%;
      float: none !important;
      display: block;
      margin-top: 24px;

      b {
        display: inline-block;
        margin-bottom:10px;
      }

      input {
        width:97%;
      }
    }
  }
}

*/
#system-flash .flash-messages {
  background: transparent;
  position: absolute;
  top: 0px;
  width: 60%; }

.usercard,
.rankbox {
  width: 45%;
  margin-right: 5%;
  margin-bottom: 10px;
  margin-top: 10px;
  float: left;
  display: inline-block; }
  .usercard div.left,
  .rankbox div.left {
    display: inline-block; }
    .usercard div.left input,
    .rankbox div.left input {
      display: inline-block;
      width: 94%; }
