{% extends "base.html" %}
{% load i18n staticfiles %}
{% if form.non_field_errors %}
{% block extra_system_flash %}
{% for message in form.non_field_errors %}
<li class="flash-error">{{ message }} <a href="#" class="close">X</a></li>
{% endfor %}
{% endblock %}
{% endif %}
{% block content %}
<div class="white-box fullWidth">
  <h2>{% trans "Request a password reset" %}</h2>
  <p>{% blocktrans %}Please enter the email address that you used when you registered your account. We will send you an email with a link that you can use to reset your password.{% endblocktrans %}</p>
  <form action="{% url "auth_password_reset" %}" method="post">
    {{ form.email.errors }}
    <div class="leftform">
      <input type="email" required pattern="[A-Za-z0-9.%+-]+@[^@]+" name="email" id="id_email" {% if form.email.value %}value="{{ form.email.value }}" {% endif %} autofocus class="left" placeholder="{% trans "Email" %}" />
      <!--<label alt="{% trans "Email" %}" placeholder="{% trans "Email" %}"></label>-->
    </div>
    <div class="leftform">
      <input id="submit" type="submit" name="submit" value="{% trans "Send me a reset link!" %}" class="left" />
    </div>
    {% csrf_token %}
    <div class="clear"></div>
  </form>
  <p></p>
</div>
{% endblock content %}
{% block extra_js %}
<script type="text/javascript" src="{% url "jsi18n_catalog" packages='caffeine' %}"></script>
<script type="text/javascript" src="{% static "caffeine/js/validation.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('input#email').bind('invalid', emailfieldvalidation);

    if (!("autofocus" in document.createElement('input'))) {
        $("input#id_email").focus();
    }

    $('form').submit(function(event) {
        return sanitize_email('input#id_email');
    });
});
</script>
{% endblock extra_js %}
