{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="white-box fullWidth">
        <h1 class="block-center-heading">
            {% blocktrans with app=application.name user=application.user userlink=application.user.get_absolute_url %}
                Approve application <b>{{ app }}</b> by
                <a href="{{ userlink }}">{{ user }}</a>
            {% endblocktrans %}</h1>
        <form class="form-horizontal" method="post"
              action="{% url 'oauth2_provider:approve' application.id %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="control-group {% if field.errors %}error{% endif %}">
                    <label class="control-label"
                           for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        {% for error in field.errors %}
                            <span class="help-inline">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="control-group {% if form.non_field_errors %}error{% endif %}">
                {% for error in form.non_field_errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="control-group">
                <div class="controls">
                    <a class="btn"
                       href="{% url "oauth2_provider:reject" application.id %}">{% trans "Reject" %}</a>
                    <button type="submit" class="btn btn-primary">Approve
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
