{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="white-box fullWidth">
        <h1>{% trans "All API applications" %}</h1>
        {% if applications %}
            <p>{% trans "The following API applications are registered:" %}</p>
            <table class="table">
                <thead>
                <tr>
                    <th>{% trans "Application" %}</th>
                    <th>{% trans "Description/Website" %}</th>
                    <th>{% trans "Requested by" %}</th>
                    <th>{% trans "Actions" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for application in applications %}
                    <tr>
                        <td>{{ application.name }}</td>
                        <td>
                            <ul class="list-unstyled">
                                <li>{{ application.description }}</li>
                                <li>
                                    <a href="{{ application.website }}">{{ application.website }}</a>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <a href="{{ application.user.get_absolute_url }}">{{ application.user }}</a>
                        </td>
                        <td>
                            {% if application.approved %}
                                <a href="{% url "oauth2_provider:delete" application.id %}">{% trans "Delete" %}</a>
                            {% else %}
                                <a href="{% url "oauth2_provider:approve" application.id %}">{% trans "Approve" %}</a>
                                <a href="{% url "oauth2_provider:reject" application.id %}">{% trans "Reject" %}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{% trans "No applications defined" %}.</p>
        {% endif %}
    </div>
{% endblock content %}