{% extends "caffeine_oauth2/mail_body_base.html" %}{% load i18n %}
{% block title %}[{{ site.name }}]
    {% blocktrans with appname=application.name %}Your API client {{ appname }}
        has been rejected{% endblocktrans %}
{% endblock %}
{% block content %}
    <p>
        {% blocktrans with user=application.user %}Hello {{ user }},
        {% endblocktrans %}
    </p>
    {% blocktrans with appname=application.name sitename=site.name %}
        <p>we are sorry to tell you that your API client registration</p>
        <p><b>{{ appname }}</b></p>
        <p>for {{ sitename }} has been rejected because of the following
            reason(s):</p>
        <p>{{ reasoning }}</p>
        <p>You can try to register your API client again once you could resolve
            the mentioned problems.</p>
        <p class="mailsig">
            Best regards,<br>
            your {{ sitename }} team</p>
    {% endblocktrans %}
    <hr>
    <p><a href="{{ request.scheme }}://{{ site.domain }}/">{{ request.scheme }}://{{ site.domain }}/</a>
    </p>
{% endblock %}