{% extends "caffeine_oauth2/mail_body_base.html" %}{% load i18n %}
{% block title %}[{{ site.name }}]
    {% blocktrans with appname=application.name %}Your API client {{ appname }}
        has been approved{% endblocktrans %}{% endblock %}
{% block content_start %}{% blocktrans with user=application.user %}Hello
    {{ user }},{% endblocktrans %}{% endblock %}
{% block content %}
    {% blocktrans with appname=application.name sitename=site.name %}
        <p>we are happy to tell you that your API client registration
            <b>{{ appname }}</b> for <b>{{ sitename }}</b> has been approved.
        </p>
        <p>You can now use your API credentials to get authentication tokens and
            use our API. Details of your API client credentials can be found at
            <a href="{{ api_details }}">your API client details page</a>.</p>
    {% endblocktrans %}
{% endblock %}