{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ block.super }} - {% blocktrans with appname=application.name %} API client {{ appname }} - pending approval{% endblocktrans %}{% endblock %}
{% block content %}
    <div class="white-box fullWidth">
        <h1>{% trans "Pending approval" %}
            <small>{% blocktrans with appname=application.name %}
                for your coffeestats API client "{{ appname }}"
            {% endblocktrans %}</small>
        </h1>
        <p>{% blocktrans %}Your application is currently waiting for approval by
            the coffeestats team.{% endblocktrans %}</p>
        <ul class="list-unstyled">
            <li>
                <p><b>{% trans "Description" %}</b></p>
                <p>{{ application.description }}</p>
            </li>

            <li>
                <p><b>{% trans "Client type" %}</b></p>
                <p>{{ application.client_type }}</p>
            </li>

            <li>
                <p><b>{% trans "Authorization Grant Type" %}</b></p>
                <p>{{ application.authorization_grant_type }}</p>
            </li>

            <li>
                <p><b>{% trans "Redirect Uris" %}</b></p>
                <pre>{{ application.redirect_uris }}</pre>
            </li>
        </ul>

        <div class="btn-toolbar">
            <a class="btn"
               href="{% url "oauth2_provider:list" %}">{% trans "Go Back" %}</a>
            <a class="btn btn-primary"
               href="{% url "oauth2_provider:update" application.id %}">{% trans "Edit" %}</a>
            <a class="btn btn-danger"
               href="{% url "oauth2_provider:delete" application.id %}">{% trans "Delete" %}</a>
            {% if request.user.is_staff %}
                <a class="btn"
                   href="{% url "oauth2_provider:approve" application.id %}">{% trans "Approve" %}</a>
            {% endif %}
        </div>
    </div>
    <script type="application/javascript">
        $(document).ready(function () {
            var elements = $('#id_client_id #id_client_secret');
            elements.focusin(function () {
                this.select_all();
            });
        });
    </script>
{% endblock content %}