{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="white-box fullWidth">
        <h3 class="block-center-heading">
            {% blocktrans with app=application.name user=application.user userlink=application.user.get_absolute_url %}
                Reject application <b>{{ app }}</b> by
                <a href="{{ userlink }}">{{ user }}</a>
            {% endblocktrans %}</h3>
        <dl>
            <dt>{% trans "Description" %}</dt>
            <dd>{{ application.description }}</dd>
            <dt>{% trans "Website" %}</dt>
            <dd><a href="{{ application.website }}">{{ application.website }}</a></dd>
        </dl>
        <p>{% trans "Give a short explaination why you want to reject the application." %}</p>
        <form class="form-horizontal" method="post"
              action="{% url 'oauth2_provider:reject' application.id %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="control-group {% if field.errors %}error{% endif %}">
                    <label class="control-label"
                           for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        {% for error in field.errors %}
                            <span class="help-inline">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="control-group {% if form.non_field_errors %}error{% endif %}">
                {% for error in form.non_field_errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Reject
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
