-i https://pypi.org/simple
Babel==2.6.0
Django==2.1.2
Jinja2==2.10
MarkupSafe==1.0
Pillow==5.3.0
Pygments==2.2.0
Sphinx==1.8.1
alabaster==0.7.12
babel==2.6.0
bcrypt==3.1.4
certifi==2019.3.9
cffi==1.11.5
chardet==3.0.4
confusable-homoglyphs==3.2.0
coverage==4.5.3
django-absolute==0.3
django-debug-toolbar==1.11
django-extensions==2.1.6
django-model-utils==3.1.2
django-oauth-toolkit==1.2.0
django-registration==3.0
django==2.1.7
djangorestframework==3.8.2
docutils==0.14
drf-nested-routers==0.90.2
idna==2.8
imagesize==1.1.0
jinja2==2.10
markupsafe==1.1.1
oauthlib==2.1.0
packaging==19.0
passlib==1.7.1
psycopg2-binary==2.7.5
pycparser==2.19
pygments==2.3.1
pyparsing==2.3.1
pytz==2018.9
requests==2.21.0
selenium==3.141.0
six==1.12.0
snowballstemmer==1.2.1
sphinx==1.8.5
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-websupport==1.1.0
sqlparse==0.3.0
urllib3==1.24.1
